n8n_workspace.json
{
  "name": "ai-trend-scout",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 0],
      "id": "80a16a9d-190e-4b06-b413-1f2c4a8ea456",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search?tags=front_page",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 180],
      "id": "8414a3f1-da8a-40d2-b2d7-469801d31ce1",
      "name": "hacker news api"
    },
    {
      "parameters": {
        "url": "https://gtrend.yapie.me/repositories?since=daily",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 0],
      "id": "9eb78915-45de-4d9d-9b44-1e0c31b36191",
      "name": "github trending api",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/programming/top.json?t=day&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-bot-trend-scout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, -220],
      "id": "a18a7d4a-ed7f-4536-893b-03c1873a1ec5",
      "name": "reddit posts api"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/technology/top.json?t=day&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-bot-trend-scout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, -360],
      "id": "ad7ee2d3-cbfd-4094-8215-473144518a4c",
      "name": "reddit posts api1"
    },
    {
      "parameters": {
        "url": "{{$env.YOUTUBE_API_KEY}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 420],
      "id": "9e5bcde8-33a1-4c44-ac3d-fb966e296904",
      "name": "Yt videos"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      date: new Date().toISOString(),      \n      reddit: $items(\"Reddit\"),\n      github: $items(\"GitHub\"),\n      hackernews: $items(\"Hacker News\"),\n      youtube: $items(\"YouTube\"),\n      devto: $items(\"Dev.to\")\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 20],
      "id": "18cdde1f-9bab-4f1a-82d9-d4e5d93d01fc",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const posts = $json.data.children;\n\nreturn posts.map(post => {\n  const data = post.data;\n\n  return {\n    json: {\n      title: data.title,\n      url: `https://reddit.com${data.permalink}`,\n      upvotes: data.ups,\n      author: data.author,\n      subreddit: data.subreddit,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, -300],
      "id": "670d196d-8d3d-496e-9aeb-b546e39bcca4",
      "name": "Reddit"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const urlParts = $json.url?.split(\"github.com/\")[1];\n\nreturn {\n  title: urlParts ? `${urlParts}` : \"github.com/unknown/repo\",\n  description: $json.description || \"No description provided\",\n  stars: $json.stars,\n  language: $json.language || \"Unknown\",\n  author: $json.builtBy?.[0]?.username || \"Unknown\",\n  repoUrl: $json.url\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0],
      "id": "8a4ce9d6-5a1e-40ab-afd5-997eb3404a0c",
      "name": "GitHub"
    },
    {
      "parameters": {
        "jsCode": "const posts = $json.hits.slice(0, 10);\n\nreturn posts.map(post => ({\n  json: {\n    title: post.title || post.story_title || \"No title\",\n    url: post.url || post.story_url || `https://news.ycombinator.com/item?id=${post.objectID}`,\n    points: post.points || 0,\n    author: post.author || \"Unknown\",\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 180],
      "id": "d1a94e20-805f-4202-9d6c-02e92dc9ddd4",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "jsCode": "const videos = $json.items;\n\nreturn videos.map(video => {\n  const snippet = video.snippet;\n  const videoId = typeof video.id === 'object' ? video.id.videoId : video.id;\n\n  return {\n    json: {\n      title: snippet.title,\n      videoId: videoId,\n      url: `https://www.youtube.com/watch?v=${videoId}`,\n      channel: snippet.channelTitle,\n      description: snippet.description,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 420],
      "id": "37d15f0f-e6c6-4710-ab54-2a355d533204",
      "name": "YouTube"
    },
    {
      "parameters": {
        "jsCode": "// Combine all incoming items from both feeds\nconst allPosts = items;\n\n// Return top 5 posts\nreturn allPosts.slice(0, 5).map(post => {\n  return {\n    json: {\n      title: post.json.title || \"Untitled\",\n      creator: post.json.user.username || \"Unknown\",\n      link: post.json.url || post.json.link || \"#\",\n      image: post.json.cover_image || post.json.social_image,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 680],
      "id": "56fa0c14-1cc7-4081-a514-2178a3742660",
      "name": "Dev.to"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [320, -300],
      "id": "a4357bc8-5921-4fb4-a226-3a79a9b33b31",
      "name": "Merge1"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [940, -40],
      "id": "943168a4-09fa-4715-85b0-1570799aa120",
      "name": "Merge3"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "latestContent.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1600, 20],
      "id": "61aa872f-2a7c-4586-92c4-8508d46c252a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://givtazogkvaoooxtpkfm.supabase.co/storage/v1/object/trend-scout/latestContent.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 20],
      "id": "14b198de-4d54-4172-b561-be4b1fa22108",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "wmOEnnjJZEnn2d9s",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://dev.to/api/articles?top=3&per_page=5",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 680],
      "id": "7f128fb8-6160-428b-a9a0-d683a037f964",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "github trending api",
            "type": "main",
            "index": 0
          },
          {
            "node": "hacker news api",
            "type": "main",
            "index": 0
          },
          {
            "node": "reddit posts api",
            "type": "main",
            "index": 0
          },
          {
            "node": "reddit posts api1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yt videos",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hacker news api": {
      "main": [
        [
          {
            "node": "Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github trending api": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reddit posts api": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "reddit posts api1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yt videos": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Reddit": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hacker News": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Dev.to": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Dev.to",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ca1c66e-53f0-42c6-bf7d-cbf74bc2d899",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50d7a6af96a39b615bbaffa2517e092b85710baccfb680139f67949990b9009b"
  },
  "id": "KROSqVzAqFEXImiF",
  "tags": []
}
